node_modules/
.next/
.vercel/
.git/
.env.local
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
tsconfig.json
next.config.ts
next.config.js
postcss.config.mjs
tailwind.config.ts
next-env.d.ts
public/
app/
tests/
dist/
build/
